<!------------------------------------------- Contact page ------------------------------------------->        
<section id="contact" style="background-color:black;color:white;">
    <div style="background-color:black;">
    <br>
    <h1 id="contacttitle" style="text-align:center">CONTACT</h1>
    <br>
    <br>
    <div class="block">
      <div class="container m-top100">
        <div class="black">
          
          <div id="enquiry">
            <div id="enquiry-content">
          <div class="column-left">
          <h2 class="white">Enquiry</h2><br>
          <h5 class="white">Zoom-Zoom Line:+1800-22-8080</h5>
                  
          <form name="enquiryform" method="post" action="http://jack.com.my/contactnew.php">
          <table width="80%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td>
                  <input type="text" name="fname" id="textfield" class="textbox" placeholder="Your Name">
              </td>
            </tr>
            <tr>
              <td>
                  <input type="text" name="femail" id="textfield" class="textbox" placeholder="E-Mail">
              </td>
            </tr>
            <tr>
              <td>
                  <input type="text" name="ftel" id="textfield" class="textbox" placeholder="Telephone">
              </td>
            </tr>
            <tr>
              <td>
                  <textarea name="fmessage" id="textarea" class="textbox-message" placeholder="Message"></textarea>
              </td>
            </tr>
          
            <tr><td><input type="submit" class="button-submit" value="Submit"></td></tr>
            
          </tbody></table>
           </form>
           <br>
           <br>
           <br>
           <div id="logo"><img src="../../../assets/icons/5yearsws.png" width="130px" height="53px"></div>
           
           <p style="text-decoration:none; color:#999; font-size:11px;">
           *5 years manufacturer warranty, or first 100,000km whichever comes first. <br>
           *5 years free scheduled maintenance, or first 100,000km whichever comes first.
           </p>
           
           <p style="text-decoration:none; color:#999; font-size:11px;">
           All images shown are for illustration purposes only.<br>
           Colours and specifications shown may vary from the actual vehicles.<br>
           Specifications may subject to change without prior notice.
           </p>
          </div>
          
         <div class="column-right">
         <div id="logo"><img src="../../../assets/icons/Logonew2.png" width="220px" height="90px"></div><br><br><br><br>
         <div class="address" style="margin-bottom:50px;color:white;">
         
         <div style="font-size:16px;">
         Bermaz Motor Sdn Bhd &nbsp;<h6>(173654-K)</h6></div>
         No 7, Jalan Pelukis U1/46, Temasya Industrial Park, <br>
         Seksyen U1, 40150 Shah Alam,Selangor Darul Ehsan.
         </div><!-- END address -->
         
           
             <h2 class="white">Newsletter</h2>
          <h5 class="white">Subscribe now to get latest updates.</h5>
          
          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="bottom-line-darkgrey">
            <tbody><tr>
              <td>
                          
              <form action="http://jack.com.my/contactnew2.php" method="post" name="subscribeform">
              <input type="text" name="emailadd" id="textfield2" class="textbox-short" placeholder="Enter your e-mail">
              <input type="submit" class="button-email" value="GO!">
              </form>
              </td>
            </tr>
          </tbody></table>
          
          
          
          <div class="icon-box">
            <ul>
                <!-- onclick="javaScript:window.open(&#39;http://c2c.avanser.com/ajax/form.php?code=QnOmOMKXGE9J5MXcoJIs&#39;,&#39;AVANSERcall&#39;,&#39;height=100,width=100&#39;);" -->
              <li><a href="http://jack.com.my/#" ><img src="../../../assets/icons/icon-callus.png" class="invert">Call Us</a></li>
              <li><a href="http://jack.com.my/ShowroomDealer.aspx?show=show2" target="_blank"><img src="../../../assets/icons/icon-dealer.png" class="invert">Showroom Centre</a></li>
              <li><a href="http://jack.com.my/ServiceDealer.aspx?show=service" target="_blank"><img src="../../../assets/icons/icon-services.png" class="invert">Service Centre</a></li>
              <li><a href="http://jack.com.my/BookATestDrive.aspx?show=test" target="_blank"><img src="../../../assets/icons/icon-booking.png" class="invert">Booking A Test Drive</a></li>
              <li><a href="http://jack.com.my/Request-Brochure.aspx?show=brochure" target="_blank"><img src="../../../assets/icons/icon-brochure.png" class="invert">Brochure Request</a></li>
            </ul>
          </div>
          <a href="https://itunes.apple.com/kh/app/jack/id673110702" target="_blank"><img src="../../../assets/icons/storelogo-ios.png" width="150"></a> &nbsp; <a href="https://play.google.com/store/apps/details?id=com.bermaz.jack" target="_blank"><img src="../../../assets/icons/storelogo-android.png" width="150"></a><br><br>
          <p style="text-decoration:none; color:#999; font-size:11px;">© Bermaz Motor Sdn Bhd (173654-K), All Rights Reserved.</p><a href="http://jack.com.my/TermsConditions.aspx?check=tnc" target="_blank" style="text-decoration:none; color:#999; font-size:11px;padding-bottom:15px;">TERMS &amp; CONDITIONS APPLY</a>
  
         </div>
        <div class="clearfix"></div>