<section id="soluciones" >
    <div class=""><h1 class="text-center white aos-item aos-init" data-aos="zoom-out-left" data-aos-duration="1000">PORQUE ELEJIRNOS?</h1></div>
     
    <div class="container">
     
    <div class="row">
        <div class="col-6">
            <H3 style="color: #369bef">Configuración rápida y sencilla.</H3>
            <p class="white">
            Nuestros softwares de gestión de flotas y activos fueron diseñados para ser fáciles de usar y de configurar. Descargue una prueba gratuita y completamente funcional de 30 días y comience a usarla en minutos. Luego, después de la compra, simplemente continúe usando el software completamente desbloqueado como antes, sin migraciones ni reinstalaciones.
    
            </p>   
            
        </div>
        <div class="col-6">
            <img class="aos-item aos-init" data-aos="zoom-out-left" data-aos-duration="1200" src="../../../assets/img/erfond%20(42).jpg" width="100%">
    
        </div>
    </div> 
    <div class="row">
        <div class="col-6">
            <img class="aos-item aos-init" data-aos="zoom-out-left" data-aos-duration="1200" src="../../../assets/img/erfond%20(42).jpg" width="100%">
    
        </div>
        <div class="col-6">
            <H3 style="color: #369bef">Pago único. Mejor valor.</H3>
            <p class="white">
            No hay suscripciones con nuestro software (en serio, ¿a quién le gustan las suscripciones?). Tampoco hay costos de mantenimiento ni otros cargos ocultos. Simplemente realice un pago único por el software y obtendrá acceso completo y sin restricciones a todo el programa y a todas sus funciones. Estamos seguros de que esto hace que nuestros softwares de gestión de activos y flotas sean los mejores del mercado.
    
            </p>   
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <H3 style="color: #369bef">Satisfacción garantizada.</H3>
            <p class="white">
            Su confianza en su solución de software de gestión de flotas debe ser absoluta. Este es el software que impulsa las operaciones de su flota y vigila sus activos. En Vinity Soft, sólo queremos clientes que estén 100% satisfechos con su compra.
    
            </p>   
            
        </div>
        <div class="col-6">
            <img class="aos-item aos-init" data-aos="zoom-out-left" data-aos-duration="1200" src="../../../assets/img/erfond%20(42).jpg" width="100%">
    
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="aos-item aos-init" data-aos="zoom-out-left" data-aos-duration="1200" src="../../../assets/img/erfond%20(42).jpg" width="100%">
    
        </div>
        <div class="col-6">
            <H3 style="color: #369bef">Web habilitada.</H3>
            <p class="white">
            Nuestro software de gestión de flotas está diseñado para que, sin importar dónde se encuentre usted o su personal; Ya sea en la oficina o fuera, tratando con clientes y trabajando de forma remota, su base de datos y su información están disponibles para quienes las necesitan cuando las necesitan.
    
            </p>   
            
        </div>
    </div> 
    
    </div>
     
     
    </section>
    
<section style="margin-top:100px; position:relative; ">
    <img src="../../../assets/img/fondo_body%201.jpg" alt="" class="background_image">
</section>
    