<section id="jack">
    <div class="xmegabody">
    <h1 class="white aos-item aos-init" style="text-align:center;" data-aos="zoom-out-right" data-aos-duration="1000">Software completo</h1>
    <div class="row textcontentmid">
    
        <div class="col-6">
        <h5 class="title-color">Nosotros</h5>
        <p class="  white">
        Jack es una marca Boliviana   que ofrece soluciones integrales para la gestión de sus recursos móviles. Brindamos soluciones para que las empresas puedan dirigir y administrar de manera óptima su flota de vehículos por medio de un sistema web basado en la localización satelital y aplicaciones Android.
        </p>
        </div>
    
        <div class="col-6">
        <h5 class="title-color">Más Control sobre su Negocio</h5>
        <p class="  white">
        Control y Seguimiento. Obtené información en reportes automáticos de rápida lectura como: horario de inicio y fin de jornada laboral, clientes visitados, tiempo empleado en las visitas a clientes, alertas por salidas de zona de trabajo, distancias recorridas y más!
        </p>
        </div>
     
    </div>
    </div>
    
    <br><br>
    <br><br>
    </section>
    <section style="margin-top:100px; position:relative;">
        <img src="../../../assets/img/fondo_body%203.jpg" alt="" class="background_image">
        </section>
        