<section id="mzdconnect" style="position:relative;">
 


    <div class="container">
     
        <div class="row">
            <div class="col-6"><p class="white">
            <h1 class="title-color" data-aos="zoom-out-left" data-aos-duration="1000">Control de Vehiculos v2</h1>
            <p class="white"> 
                Crea diferetnes tipos de automoviles distribuidores 
                <br>
                <br>
                Se puede asignar encargados a cada movilidad
                <br>
                <br>
                <br>d
                Los distribuidores pueden salir como autovendedor o distribuidor.
                <br>
                Se almacena su stock de productos a distribuir en estos, dependiendo sus liquidaciones, asi como su devolucion de saldos
             </p>
        </div>
         <div class="col-6"><img src="../../../assets/img/vehicles_desktop_sm.png" style="width:100%"></div>
        </div><div class="row">
            <div class="col-6"><p class="white">
            <h1 class="title-color" data-aos="zoom-out-left" data-aos-duration="1000">Administracion de productos</h1>
            <p class="white"> 
                Administra tipos de productos, blokeando o activando para la venta
                <br>
                <br>
                Gestion de productos tipo por lotes o series
                <br>
                <br>
                Administracion y distribucion de insumos, tipo merma, productos em proceso, o materias primas.
                <br>
                Control por codigos de proveedor, codigos internos, codigos de barras, otros
             </p>
        </div>
         <div class="col-6"><img src="../../../assets/img/vehicles_desktop_sm.png" style="width:100%"></div>
        </div><div class="row">
            <div class="col-6"><p class="white">
            <h1 class="title-color" data-aos="zoom-out-left" data-aos-duration="1000">AUTOVENTAS V2</h1>
            <p class="white"> 
                Administracion de ventas desde distribuidor
                FActuracion movil 
                <br>
                <br>
                Venta por lotes de produccion
                <br>
                <br>
                Liquidaciones por vendedor o distribuidor. Cierres de caja, devolucion de productos.
                <br>
                 
             </p>
        </div>
         <div class="col-6"><img src="../../../assets/img/vehicles_desktop_sm.png" style="width:100%"></div>
        </div>
    </div> 
    
    </section>
    
    <section>
    <img src="../../../assets/img/fondo_body%204.jpg" alt="" class="background_image">
    </section>
