<div id="back_btn"><a href="#cargvc">ARRIBA</a></div> 
<!-------------------------------------------car GVC------------------------------------------->    
<section id="cargvc">

<img id="maincar" src="../../../assets/img/1%20fondos.jpg" alt="" class="background_image" style="height: 100vh">
 
<div id="iosfix" class="maintext">
<img class="aos-item aos-init aos-animate" data-aos="zoom-out-left" data-aos-duration="1200" src="../../../assets/icons/wkodo.png" width="25%">
<br>
 
<br>
<img class="aos-item aos-init aos-animate" data-aos="zoom-out-left" data-aos-duration="1200" src="../../../assets/icons/tItulo jack.png" width="40%">
 
</div>




</section>
<section id="content1" >
    <div class="content_view" >
    <div class="textcontentmid" style="color:white;">
    
    
    <h1 class="white aos-item aos-init" style="text-align:center;" data-aos="zoom-out-right" data-aos-duration="1000">REDISEÑANDO SU EMPRESA</h1>
    
    <br>
    
    
    <p class="white">
    Nuestro enfoque único para desarrollar nuestros productos se basa en la experiencia de distribución local. Un software escrito para satisfacer las necesidades del mundo real
    <br>
    Ayudamos a las empresas a transformarse digitalmente para ser más ágiles y competitivas,
    permitiéndoles gestionar y administrar sus recursos móviles.
    <br>
    Con Jack Podrás planificar, organizar, gestionar, medir  y controlar todos tus proveedores logísticos, clientes y la propoia distrbucion interna en un solo lugar.  Combinando los beneficios de RRHH, FINANZAS, FACTURACIONES y CRM. Para ello contamos con los mejores ingenieros empresariales, comerciales y tecnologicos, que le otorgaran un mejor servicio.
    
     
     
    </p>
    <br>
    </div>
    </div>
    </section>
    <section style="background-color:black;">
        <br><br>
        <div style="width:40% ;margin-left:40%; clear: both;">
        <img class="aos-item aos-init" data-aos="zoom-out-left" data-aos-duration="1200" src="../../../assets/img/jack.png" width="55%">
        </div>
        <br><br>
        <img src="../../../assets/img/fondo_par.jpg" alt="" class="background_image">
        </section>
        

