
<!------------------------------------------- Specification page ------------------------------------------->     
<section id="specsect">
    <div id="spec">
     <div id="spec-content">
     
     <div id="keyspec&quot;">
     <h2 style="margin-left:-8vw; text-align:center">MODULOS Y COMPLEMENTOS</h2>
         <dl>
             <dt>
           <h3>BASICOS</h3></dt>
             <dd>
                 <ul>
                     <li>• Gestión de Sucursales</li>
                     <li>• Gestión de almacenes</li>
                     <li>• Gestión de usuarios</li>
                     <li>• Gestión de datos de empresa</li>
                     <li>• Control de procesos de sistema</li>
                     <li>• Modulo de Roles</li>
                     <li>• Modulo de Tipos de pago</li>
                     <li>• Modulo de Tipos de documentos</li>
                     <li>• Modulo de descarga y version de aplicaciones</li>
                     <li>• Acceso a tutoriales de sistema</li>
                      
                  
                 </ul>
             </dd>
         </dl>
         
         <dl>
             <dt>
           <h3>NECESARIOS DISTRIBUCION</h3></dt>
             <dd>
                 <ul>
                     <li>• Modulo de Clientes </li>
                     <li>• Modulo de categoria de Clientes</li>
                     <li>• Gestion de productos </li>
                     <li>• Gestion de almacenes productos</li>
                     <li>• Módulo marcas</li>
                     <li>• Módulo Unidades</li>
                     <li>• Adminsitracion de compras/importaciones</li>
                     <li>• Adminsitracion de ventas </li>
                     <li>• Administracion de almacenes, altas, bajas, traspasos, por llegar, en transito, PEPS, UEPS</li>
                     <li>• Inventario valorizado, historico de movimiento de almacen</li>
                     <li>• Adminstrador de preventas</li>
                     <li>• Asignaciones preventista ruta</li>
                     <li>• Asignaciones ruta distribuidor</li>
                     <li>• Creacion y administracion de rutas</li>
                     <li>• Picking </li>
                     <li>• Liquidaciones de venta directa y por preventas </li>
                 </ul>
             </dd>
         </dl>
         
         <dl>
             <dt>
           <h3>COMPLEMENTARIOS</h3></dt>
             <dd>
                 <ul>
                     <li>• Gestion productos por lotes</li>
                     <li>• Gestion  productos por series</li>
                     <li>• Administracion de stocks por categorias</li>
                     <li>• Módulo proformas</li>
                     <li>• Cuentas por pagar </li>
                     <li>• Cuentas por cobrar</li>
                      
                     
                 </ul>
             </dd>
         </dl>
         
          <dl>
             <dt>
           <h3>ESPECIALES AVANZADOS</h3></dt>
             <dd>
                 <ul>
                     <li>• Adminsitracion de Colaboracion y tareas de empresa </li>
                     <li>• Administracion de bancos, y transferencias de clientes </li>
                     <li>• Administracion cajas, Mn/Me, caja chica </li>
                     <li>• Modulo cuentas contables </li>
                     <li>• Administrador de ingresos </li>
                     <li>• Administrador de gastos </li>
                      
                 </ul>
             </dd>
             
              
             
         </dl>
         
         </div>
         
        
          <div style="margin-left:-3vw;" class="button-box">
          
          
             <ul>
                  
             
                 <li id="specme" class="dropdown">
                 <div class="button-white-dropdown">Specifications ▽</div>
                 <div class="dropdown-content">
                 <ul>
                 <li id="opspec1" onclick="gotospec(1)">Skyactiv 2.0L SDN</li>
                 <li id="opspec2" onclick="gotospec(2)">Skyactiv 2.5L SDN</li>
                 <li id="opspec3" onclick="gotospec(3)">Skyactiv-D 2.2L SDN</li>
                 <li id="opspec4" onclick="gotospec(4)">Skyactiv 2.5L TOURING</li>
                 <li id="opspec5" style="display:none;" onclick="gotospec(4)">Skyactiv 2.5L TOURING</li>
                 <li><a href="http://mazda.com.my/Specification/2018/jack.pdf?iframe=true&amp;width=90%&amp;height=90%" target="_blank">Download In PDF</a></li>
                 </ul>
                 </div>                                           
                 </li>
                 
                 <li id="westme"><div class="button-white"><a href="http://mazda.com.my/PriceList/WestMalaysia/2019/jack_Price(W).pdf?iframe=true&amp;width=90%&amp;height=90%" target="_blank">Price West Malaysia</a></div></li>
                 <li id="eastme"><div class="button-white"><a href="http://mazda.com.my/PriceList/EastMalaysia/2019/jack_Price(E).pdf?iframe=true&amp;width=90%&amp;height=90%" target="_blank">Price East Malaysia</a></div></li>
               
                 
             </ul>
          </div>
          <br>
           
          
          
          
          
                      
         <div class="clearfix-left"></div>
     </div>
  
  </div>
</section>



<section id="price" style="background-color:black;color:white;">
<br>
<div style="margin-top:100px; margin-bottom:100px;"><h1 style="text-align:center">Gallery</h1></div>

