<div class="slicknav_menu"><a href="http://jack.com/#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a>

    <ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
        <li class="boxnav" style="margin-top:20px; margin-bottom:100px;"><a href="http://jack.com.my/#cargvc" role="menuitem" tabindex="-1"><img src="./malasia/Logonew2.png" width="100px"></a></li>
        <li class="boxnav"><a href="#cargvc" role="menuitem" tabindex="-1">JACK</a></li>
        <li class="boxnav"><a href="#soluciones" role="menuitem" tabindex="-1">VENEFICIOS</a></li>
        <li class="boxnav"><a href="#jack" role="menuitem" tabindex="-1">NOSOTROS</a></li>
        <li class="boxnav"><a href="#mzdconnect" role="menuitem" tabindex="-1">MEJORAS DE VERSION</a></li> 
        <li class="boxnav"><a href="#specsect" role="menuitem" tabindex="-1">MODULOS</a></li> 
        <li class="boxnav"><a href="#gallery" role="menuitem" tabindex="-1">GALLERY</a></li>
        <li class="boxnav"><a href="#contact" role="menuitem" tabindex="-1">CONTACT</a></li> 
        </ul>
        
     </div>
     <div id="navigation">
        <!-- http://jack.com.my/#cargvc -->
        <ul id="nav1">
        <li class="boxnav" style="margin-top:20px; margin-bottom:100px;"><a href=""><img src="../../../assets/icons/Logonew2.png" width="100px"></a></li>
        <li class="boxnav"><a id="menu1" href="#cargvc" style="color: #5c7fff;">JACK</a></li>
        <li class="boxnav"><a id="menu2" href="#jack" style="color: white;">NOSOTROS</a></li>
        <li class="boxnav"><a href="#soluciones" style="color: white;">VENEFICIOS</a></li>
        <li class="boxnav"><a id="menu3" href="#mzdconnect" style="color: white;">MEJORAS DE VERSION</a></li>
     
        <li class="boxnav"><a id="menu6" href="#specsect" style="color: white;">MODULOS</a></li> 
        <li class="boxnav"><a id="menu8" href="#price" style="color: white;">PRECIOS</a></li>
     
        <li class="boxnav"><a id="menu9" href="#contact" style="color: white;">CONTACT</a></li>
         
        </ul>  
    </div>
    
